/m0dules/arduino/atmega328p/pcb/Gerber
/m0dules/arduino/atmega328p/pcb/History
/m0dules/arduino/atmega328p/pcb/Project Logs for PCB_floppy_m0dule
/m0dules/arduino/atmega328p/pcb/NC Drill/__Previews
/m0dules/arduino/atmega328p/pcb/NC Drill
/m0dules/arduino/atmega328p/pcb/__Previews
/m0dules/arduino/atmega328p/pcb/Status Report.Txt
/m0dules/arduino/atmega328p/pcb/*.PDF
